"build/nrf52840_xxaa.out":
    debugger: "dbg-gdb-custom-server"
    gdb_executable: '/Users/chirag-parmar/arm-toolchain/bin/arm-none-eabi-gdb'
    gdb_commands: ['target remote localhost:2331',
                    'mon speed 10000',
                    'mon flash download=1',
                    'load',
                    'mon reset 0',
                    'continue']
    path: "build/nrf52840_xxaa.out"
    cwd: "/Users/chirag-parmar/nRF/nrf52-secure-boot"
    server_executable: 'JLinkGDBServerCL'
    server_arguments: ['-if', 'swd', '-device', 'nRF52840_xxaa', '-port', '2331']
